@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

:root {
    --normal-orange: #fe5703;
    --dark-orange: #ec570c;
    --light-orange: #f97533;

    --normal-yellow: #fed004;
    --dark-yellow: #e2bc11;
    --light-yellow: #f3d342;

    --normal-green: #3bf80b;
    --dark-green: #2dcf05;
    --light-green: #62f53d;

    --normal-purple: #8c15ea;
    --dark-purple: #6b0bb4;
    --light-purple: #a63af8;

    --normal-blue: #18c3ec;
    --dark-blue: #0b99bd;
    --light-blue: #4dd5f7;

    --p-color: #414242;
    --text-color-white: #ffffff;
    --text-color-black: #050505;
    --background-light-grey: #e2dcdc;

    --font-size-p: 1.6rem;
    --font-size-h1: 5rem;
    --font-size-h2: 4rem;
    --font-size-h3: 3.5rem;
    --font-size-h4: 2.8rem;
    --font-size-h5: 2.5rem;
    --font-size-h6: 2rem;

    --gradient-1: linear-gradient(to right, var(--dark-orange), var(--normal-yellow));
    --gradient-2: linear-gradient(to right, var(--dark-purple), var(--normal-blue));
    --gradient-3: linear-gradient(to right, var(--dark-green), var(--normal-yellow));

    --gradient-1-hover: linear-gradient(60deg, var(--dark-orange), var(--normal-yellow));
    --gradient-2-hover: linear-gradient(60deg, var(--dark-purple), var(--normal-blue));
    --gradient-3-hover: linear-gradient(60deg, var(--dark-green), var(--normal-yellow));
}
p{
    font-size: var(--font-size-p);
    line-height: 2rem;
}
h1{
    font-size: var(--font-size-h1);
}
h2{
    font-size: var(--font-size-h2);
}
h3{
    font-size: var(--font-size-h3);
}
h4{
    font-size: var(--font-size-h4);
}
h5{
    font-size: var(--font-size-h5);
}
h6{
    font-size: var(--font-size-h6);
}
a{
    text-decoration: none;
    font-size: var(--font-size-p);
}
ul{
    list-style: none;
}
.container {
    max-width: 1200px;
    padding-inline: 20px;
    margin-inline: auto;
}
.flex{
    display: flex;
    align-items: center;
}

/* navbar */

.navbar{
    justify-content: space-between;
    /* margin-top: 10px; */
}
.nav-menu{
    display: none;
}
.nav-menu i{
    font-size: var(--font-size-p);
}
.nav-img a img{
    width: 200px;
    margin-top: 5px;
}

.nav-items{
    flex-basis: 730px;
}

.navbar .toggle-img{
    display: none;
}

.nav-items .toggle-img{
    display: none;
}

.nav-items ul{
    justify-content: end;
    gap: 40px;
} 

.nav-links{
    color: var(--p-color);
    transition: 0.2s;
}

.nav-links:hover, .nav-links:active{
    color: var(--light-orange);
}

/* header */

.header{
    text-align: center;
    justify-content: space-around;
}
.header-img{
    max-width: 60vw;
}
.header-img img{
   width: 100%;
   animation: movement 2s linear infinite;
}
@keyframes movement{
    50%{
        transform: translate(-5px, 5px);
    }
}
.gradient-text-1{
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-text p{
    color: var(--p-color);
}
.header-btn{
    justify-content: center;
    margin-top: 20px;
}
.hero-btn1{
    padding: 10px;
    background: var(--gradient-1);
    color: var(--text-color-white);
    border-radius: 5px;
    letter-spacing: 0.8px;
}
.hero-btn1:hover{
    background: var(--gradient-1-hover);
}
.hero-btn2{
    padding: 10px;
    background: var(--gradient-1);
    border-radius: 5px;
    letter-spacing: 0.8px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* about section */

.about-section{
    text-align: center;
    margin-top: 30px;
}

.gradient-text-2{
    font-size: var(--font-size-h3);
    background: var(--gradient-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-1, .about-2, .about-3{
    font-size: var(--font-size-h6);
}
.about-1{
    color: var(--dark-purple);
}
.about-2{
    color: var(--dark-blue);
}
.about-3{
    color: var(--light-blue);
}
.about-img{
    max-width: 50vw;
}
.about-img img{
    width: 100%;
    animation: about-move-1 2s linear infinite;
}

.about-description h6{
    padding: 20px;
}
.about-description p{
    text-align: justify;
    color: var(--p-color);
}
@keyframes about-move-1 {
    50%{
        transform: translate(0,10px);
    }
}

/* creator section */

.create-section{
    text-align: center;
    margin-top: 30px;
    /* background-color: var(--background-light-grey); */
}
.gradient-text-3{
    font-size: var(--font-size-h3);
    background: var(--gradient-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.creator-content{
    margin: 20px auto;
    padding: 20px 30px;
    width: 80%;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
}
.creator-content b{
    font-size: var(--font-size-p);
}
.creator-img{
    width: 100px;
    height: 100px;
    background: #4dd5f7;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    right: -50px;
    border: 1px solid #050505;
    background-image: url(assests/assest-3\ logo-brand.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.creator-img img{
    width: 100px;
}
.gradient-text-4{
    font-size: var(--font-size-p);
    background: var(--gradient-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* projects */

.projects-section{
    margin-top: 80px;
}
.projects-heading{
    text-align: center;
}
.projects-heading p{
    color: var(--p-color);
}
.project-list{
    margin-top: 30px;
}
.project-card{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    border: 1px solid #050505;
    background: linear-gradient(to right, rgba(39, 236, 193, 0.7),rgba(181, 181, 187, 0.7)), url(assests/assest-13.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.project-card-body{
    max-width: 50%;
    text-align: center;
}
.project-card-footer{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.projects-btn{
    background: var(--gradient-3);
    padding: 5px 10px;
    color: var(--text-color-white);
    border-radius: 20px;
    display: inline-flex;
    transition: 0.2s;
}
.projects-btn:hover{
    transform: scale(1.1);
    background: var(--gradient-3-hover);
}
.projects-btn i{
    padding: 5px;
    background: var(--text-color-white);
    color: var(--dark-green);
    border-radius: 50%;
}

/* contact section */

.contact-section{
    margin-top: 80px;
    text-align: center;
}
.contact-heading p{
    color: var(--p-color);
}
.contact-ways{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    margin-top: 50px;
}
.contact-card{
    max-width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(12, 11, 11, 0.2);
    /* box-shadow: 5px 5px 5px #898d8d; */
    border-radius: 10px;
}
.card-body img{
    width: 50px;
    border: 5px solid transparent;
    background: var(--gradient-2) padding-box, var(--gradient-2) border-box;
    border-radius: 50%;
}
.card-footer{
    margin: 20px 0;
}
.contact-btn{
    padding: 10px 20px;
    color: var(--text-color-white);
    background: var(--gradient-2);
    border-radius: 20px;
    display: inline-block;
    line-height: 1.5rem;
}
.contact-btn:hover{
    background: var(--gradient-2-hover);
}

/* footer */

footer{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-section{
    justify-content: space-around;
}
.footer-logo{
    max-width: 30vw;
}
.footer-logo img{
    width: 100%;
}
.footer-links ul{
    flex-direction: column;
    gap: 10px;
}
.footer-nav-links{
    color: var(--p-color);
    transition: 0.2s;
}
.footer-nav-links:hover{
    color: var(--normal-orange);
}
.footer-description{
    width: 150px;
}

/* order page */

.order-top-banner{
    max-width: 80%;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    background: rgba(14, 148, 238, 0.63);
    color: var(--text-color-white);
    border-radius: 10px;
    animation: orderframe 5s ease infinite;
}
.order-text{
    margin-top: 30px;
    justify-content: space-evenly;
    margin: 40px 0;
}
.order-text img{
    max-width: 100px;
}

/* fast-service-section */

.fast-service-section{
    margin-top: 80px;
}
.fast-service-heading{
    text-align: center;
}
.service-list{
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 50px;
}
.service-icons{
    width: 100px;
    animation: iconpop 2s linear infinite;
}

@keyframes iconpop{
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/* order form section */

.order-form-section{
    margin-top: 30px;
    text-align: center;
}
.order-form-section p{
    color: var(--p-color);
}
.order-form form{
    flex-direction: column;
    gap: 10px;
    background: #eaf0f3f6;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #8d9191bd;
}
.form-input{
    width: 70%;
    font-size: var(--font-size-p);
    padding: 2px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
}
.form-input-label{
    max-width: 20%;
    font-size: var(--font-size-p);
}
.form-button{
    font-size: var(--font-size-p);
    color: var(--text-color-white);
    padding: 10px 20px;
    background: var(--gradient-2);
    border: none;
    border-radius: 20px;
}

@keyframes orderframe{
    0%{
        transform: translate(-120%, 0);
    }
    25%{
        transform: translate(0, 0);
    }
    50%{
        transform: scale(1.1);
    }
    75%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(120%, 0);
    }
}

@media screen and (max-width: 850px) {
    .header{
        flex-direction: column;
        margin-top: 30px;
    }
    .nav-items{
        background: var(--normal-orange);
        height: 100vh;
        position: fixed;
        width: 80vw;
        top: 0;
        right: -80vw;
        z-index: 2;
        transition: 2s;
    }
    .nav-items ul{
        flex-direction: column;
        gap: 50px;
        margin-top: 50%;
        justify-content: center;
    }
    .nav-links{
        color: var(--text-color-white);
    }
    .nav-links:hover{
        color: var(--text-color-white);
    }
    .navbar .toggle-img{
        width: 40px;
        display: block;
        cursor: pointer;
    }
    .nav-items .toggle-img{
        width: 50px;
        display: block;
        cursor: pointer;
        float: right;
        margin: 20px;
    }
    .about-content-1{
        flex-direction: column;
    }
    .about-content-2{
        flex-direction: column-reverse;
    }
    .about-content-3{
        flex-direction: column;
    }
    .contact-ways{
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }
    .footer-section{
        flex-direction: column;
        gap: 20px;
    }
    .footer-nav-links{
        color: var(--p-color);
        transition: 0.2s;
    }
    .footer-nav-links:hover{
        color: var(--normal-orange);
    }
    .footer-description{
        width: 200px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 610px) {
    h1{
        font-size: 3.5rem;
    }
    h3, .gradient-text-2, .gradient-text-3{
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 495px) {
    .project-card{
        flex-direction: column;
    }
    .project-card-footer{
        flex-direction: row;
        margin-top: 10px;
    }
    .projects-btn{
        padding: 10px;
    }
    .projects-btn-text{
        display: none;
    }
}
